html, body, .grid-container, .categoryTitles { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
}

.unclickable{
  pointer-events: none;
}

.categoryTitles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
}

.grid-container * {
  border: 1px solid #060CE9;
  position: relative;
}
.categoryTitles {
  border: 1px solid #060CE9;
  position: relative;
}

.grid-container *:after {
  position: absolute;
  top: 0;
  left: 0;
}

#questionContainer {
  display:none;
}

#answerContainer {
  display:none;
}