html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
}

.grid-container * {
  border: 1px solid #060CE9;
  position: relative;
}

.grid-container *:after {
  position: absolute;
  top: 0;
  left: 0;
}